{% load i18n%}
<footer class="mx-auto text-center py-12 border-t font-medium text-gray-500">
    <div>
        &copy; {% trans "2019 Fakebnb, Inc. All rights reserved." %}
    </div>
    <div class="mt-5 mx-auto">
        {% get_current_language as LANGUAGE_CODE %}
        <select class="w-1/5 h-8" id="lang">
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
            <option value="ko" {% if LANGUAGE_CODE == 'ko' %}selected{% endif %}>Korean</option>
        </select>
    </div>
</footer>