{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}
<div class="container mx-auto font-light pb-10">
    <div class="bg-blue-800 h-25vh mt-32 mb-24 -mx-10 rounded-lg bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1517446915321-65e972f1b494?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)"></div>

    <div class="flex flex-wrap -mx-10 mb-10">
        {% for room in rooms %}
        {% include 'mixins/room_card.html' with room=room %}
        {% endfor %}
    </div>

    <div class="flex items-center justify-center">
        {% if page_obj.has_previous %}
        <a class="text-teal-500" href="?page={{page_obj.previous_page_number}}">
            <i class="fas fa-arrow-left fa-md align-text-bottom"></i>
        </a>
        {% endif %}

        <span class="mx-3 font-medium text-sm">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

        {%if page_obj.has_next %}
        <a class="text-teal-500" href="?page={{page_obj.next_page_number}}">
            <i class="fas fa-arrow-right fa-md align-text-bottom"></i>
        </a>
        {% endif %}
    </div>

    {{now}}
</div>

{% endblock content %}