{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}
<form method="GET" action="{% url 'rooms:search' %}">
    {{form.as_p}}
    <button>Search</button>
</form>

<h3>Results</h3>
{% for room in rooms.object_list %}
<h3>{{room.name}}</h3>
{% endfor %}

<h5>
    {% if rooms.has_previous %}
    <a href="{{request.get_full_path}}&page={{rooms.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{rooms.number}} of {{rooms.paginator.num_pages}}

    {%if rooms.has_next %}
    <a href="{{request.get_full_path}}&page={{rooms.next_page_number}}">Next</a>
    {% endif %}
</h5>

{% endblock content %}