{% extends "base.html" %}

{% block page_title %}
Your Favs
{% endblock page_title %}

{% block content %}

<div class="container mx-auto my-10 flex flex-col items-center p-6">
    <h3 class="mb-12 text-2xl">Favourties</h3>
    <div class="container mx-auto flex flex-col items-center mb-12">
        <div class="w-full flex flex-wrap">
            {% for room in user.list.rooms.all %}
            {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}