{% extends "base.html" %}

{% block page_title %}
Log In
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}

<div class="container md:w-1/2 lg:w-5/12 xl:w-1/4 mx-auto my-10 flex flex-col items-center border border-gray-400 p-6">

    {% include 'partials/social_login.html' %}
    <form method="POST" action="{% url "users:login" %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Login</button>
    </form>
</div>

{% endblock content %}