{% extends "base.html" %}

{% block page_title %}
Sign up
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}

<div class="container mt-10 md:w-1/2 lg:w-5/12 xl:w-1/4 mx-auto my-10 flex flex-col items-center border border-gray-400 p-6">

    {% include 'partials/social_login.html' %}

    {% include 'mixins/auth/auth_form.html' with form=form cta="Sign up" %}

    <div class="w-full h-px my-4 bg-gray-400"></div>
    <div class="w-full">
        <span class="mr-1 text-gray-700">Already have an Airbnb account?</span>
        <a class="text-teal-500 font-medium" href="{% url 'users:login' %}">Log in</a>
    </div>
</div>

{% endblock content %}